<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="KiwiBike4RentEntities" connectionString="metadata=res://*/KiwiBike4Rent.csdl|res://*/KiwiBike4Rent.ssdl|res://*/KiwiBike4Rent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20190006YUNQI;initial catalog=KiwiBike4Rent-20190006;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="KiwiBike4Rent.Properties.Settings.KiwiBike4Rent" connectionString="Data Source=20190006YUNQI;Initial Catalog=KiwiBike4Rent-20190006;Integrated Security=True" />
  </connectionStrings>
</configuration>